
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.landingcontainer {
  padding: 20px 0;
}
.parentContainer {
  position: relative;
  width: 400px;
}
.parentContainer .childContainer {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 11;
  text-align: left !important;
  text-transform: uppercase;
  color: #1f2937;
}
.parentContainer .childContainer h6 {
  font-size: 35px;
}
.parentContainer .childContainer h6 span {
  font-weight: bold;
  font-size: 40px;
}
.parentContainer .childContainer h5 {
  font-size: 30px;
  font-weight: bold;
}
.parentContainer .childContainer h5 span {
  color: var(--main-color);
}
.parentContainer .childContainer p {
  font-size: 16px;
  margin-top: 15px;
}
.parentContainer .childContainer button {
  margin-top: 15px;
  border: none;
  padding: 10px 40px;
  background-color: #1f2937;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media (max-width: 1000px) {
  .imageLanding {
    display: none !important;
  }
  .parentContainer .childContainer h6,
  .parentContainer .childContainer h5 {
    font-size: 15px;
  }
  .parentContainer .childContainer h6 span {
    font-size: 20px;
  }
  .parentContainer .childContainer p {
    font-size: 13px;
    margin-top: 5px;
    width: 200px;
  }
  .parentContainer .childContainer button {
    margin-top: -30px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
  }
  .parentContainer .childContainer button {
    display: none;
  }
}
