.contact {
  margin-top: 60px;
}
.contact h1 {
  position: relative;
  text-align: center;
  background-color: #bcbcbc;
  padding: 50px 0;
}
.contact .contactInfo {
  margin-top: 80px;
}
.contact .boxInfo {
  background-color: white;
  box-shadow: 1px -3px 5px 4px #bcbcbc;
  padding: 60px;
  border: 2px solid #FFF;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact .boxInfo svg {
  font-size: 35px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contact .boxInfo h6 {
  margin-top: 15px;
  font-size: 22px;
}
.contact .boxInfo p {
  color: #adadad;
  font-size: 18px;
}

.comment {
  position: relative;
  width: fit-content;
  margin-top: 50px;
  padding: 50px 80px;
  border: 1px solid #EEE;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.comment h2 {
  text-align: center;
}
.comment input {
  margin-left: -40px;
  margin-bottom: 10px;
  width: 500px;
  padding: 5px 10px;
  border: none;
  border: 1px solid var(--main-color);
  caret-color: var(--main-color);
}
.comment input:focus,
.comment textarea:focus {
  outline: none;
}
.comment textarea {
  width: 500px;
  margin-left: -40px;
  height: 150px;
  padding: 5px 10px;
  resize: none;
  border: 1px solid var(--main-color);
  caret-color: var(--main-color);
}
.comment button {
  margin-left: -40px;
  width: 500px;
  border: none;
  margin-top: 20px;
  padding: 12px;
  background-color: var(--main-color);
  color: #FFF;
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media(max-width: 1000px) {
  .contact .boxInfo {
    margin-top: 10px;
  }
  .comment input,
  .comment textarea,
  .comment button {
    width: 100%;
    margin-left: 0;
  }
  .comment textarea {
    height: 100px;
  }
}